.course-card{
    display: flex;
    border: 1px solid green;
    padding: 15px;
    margin-top: 20px;
}
.course-description{
    width: 60%;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
   
}

.course-data{
    display: flex;
    width: 350px;

}
.course-data>dd{
    margin-left: 2px;
}
.bold{
    font-weight: bold;
}

